h1{
    color:tomato;
    background-color:lightblue;
    text-align: center;
}

h2{
    color:lightgreen;
    background-color:purple;
    text-align: center;
}

body{
    color:purple;
    background-color: lightgreen;
    font-size:larger;
}